<div class="container-fluid col-md-8">
    <div data-ng-show="errorMessage!=null">{{errorMessage}}</div>
    <div data-ng-show="message!=null">{{message}}</div>
    <form name="naujosPrekes" data-ng-submit="pridetiNauja(preke)">
        <div class="form-group col-md-12">
            <label for="pavadinimas">Pavadinimas</label>
            <input data-ng-model="preke.Pavadinimas" placeholder="pavadinimas" class="form-control" id="pavadinimas" required>
        </div>
        <div class="form-group col-md-12">
            <label for="aprasymas">Aprasymas</label>
            <textarea data-ng-model="preke.Aprasymas" placeholder="aprasymas" class="form-control" id="aprasymas" required></textarea>
        </div>
        <div class="form-group col-md-3">
            <label for="pradinekaina">Kaina</label>
            <input data-ng-model="preke.Kaina" placeholder="Pradine Kaina" type="text" class="form-control" id="pradinekaina" required>
        </div>
        <div class="form-group col-md-3">
            <label for="kiekisSandelyje">Kiekis sandelyje</label>
            <input data-ng-model="preke.EsamasKiekis" placeholder="Kiekis sandelyje" type="text" class="form-control" id="kiekisSandelyje" required>
        </div>
        <div class="form-group col-md-3">
            <label for="nupirktasKiekis">Nupirktas kiekis</label>
            <input data-ng-model="preke.NupirktasKiekis" placeholder="Kiekis sandelyje" type="text" class="form-control" id="nupirktasKiekis" required>
        </div>
        <div class="form-group col-md-12">
            <button type="reset" class="btn btn-primary" style="background-color:lightgray">Atsaukti</button>
            <button type="submit" class="btn btn-default" style="background-color:lightblue">Prideti</button>
        </div>
    </form>
</div>

