<div class="container-fluid col-md-4">
    <table class="table">
        <thead>
            <tr>
                <td>Pavadinimas</td>
                <td>Kaina</td>
                <td>Kiekis</td>
                <td>Salinti</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.Pavadinimas}}</td>
                <td>{{item.Kaina}}</td>
                <td>{{item.KiekPerku}}</td>
                <td>
                    <button type="button" value="Remove" class="glyphicon glyphicon-remove" ng-click="delete(item)"></button>
                </td>
            </tr>
            <tr>
                <td>
                    Suma : {{suma()|number:2}} €
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div>
        <button data-ng-show="items.length > 0" type="button" value="Isvalyti" class="btn btn-primary" ng-click="clearCart()">Isvalyti krepseli</button>
        <button data-ng-show="items.length > 0" type="button" value="Isvalyti" class="btn btn-primary" ng-click="pirkti(items)">Pirkti</button>
    </div>
</div>